<form method="POST">
    {% csrf_token %}

    <label>Student</label>
    <select name="student" required>
        {% for student in students %}
        <option value="{{ student.id }}">
            {{ student.username }} (Sem {{ student.semester }})
        </option>
        {% endfor %}
    </select>

    <br><br>

    <label>Course</label>
    <select name="course" required>
        {% for course in courses %}
        <option value="{{ course.id }}">
            {{ course.course_name }}
        </option>
        {% endfor %}
    </select>

    <br><br>

    <label>Marks</label>
    <input type="number" name="marks" required>

    <br><br>

    <button type="submit">Assign Marks</button>
</form>
